:root {
  --text: #ffffff;
  --bg: #090909;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: var(--bg);
  color: var(--text);
}

section{
  min-height: 100vh;
  height: auto;
}

