*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 4vh;
}

h1{
    width: 100%;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vh;
}

section{
    display: inline;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    height: auto;
}